* {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
}

.showError {
  min-height: 100vh;
  font-size: 20px;
  line-height: 1.5;
  color:rgb(165, 59, 73);
  text-align:center;
  padding-left: .5em;
  background: #c7edcc;
}


.blue_color {
  color: #0d47a1;
}

.float_right {
  float: right;
}

.margin_top_10 {
  margin-top: 10px;
}