@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .indent-2 {
    text-indent: 2em;
  }
  .h-100 {
    height: 25rem; /*400px*/
  }
}

@layer components {
  @variants group-hover, hover {
    .audio::after {
      content: "🔊";
      vertical-align: text-top;
    }
  }

  .audio:after {
    content: "🔉";
    vertical-align: text-top;
  }
}
